* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(126, 133, 197);
}
.container {
    height: 480px;
    width: 300px;
    padding: 0.3em;
    background-color: rgb(42, 42, 47);
    border-radius: 0.5em;
    box-shadow: 0 0 1em black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container > div{
    height: 13%;
    width: 91%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-row{
    padding-bottom: 0.5em;
}
.container input:focus{
    outline: none;
}
.container .text-row input[type = "text"]{
    text-align: right;
    padding: 0 0.75em;
    border-radius: 0.2em;
    font-size: 1.4em;
    height: 80%;
    width: 95%;
}
.container input[type = "button"]{
    color: rgb(31, 31, 98);
    font-weight: 500;
    font-size: 1.5em;
    border-radius: 0.2em;
    height: 85%;
    width: 22%;
}
.container input[type = "button"]:active{
    color: rgb(0, 0, 255);
    box-shadow: 0 0 0.4em blue;
}
.container > div input[type = "button"]:last-child{
    font-size: 2.5em;
    line-height: 0.1em;
    font-weight: 400;
}


.container input.hist{
    background: url(../img/icon_log1.jpg) center center no-repeat;
    background-position: center top;
    background-size: 100%;
}
.container input.hist:active{
    background-size: 100%;
    background-position: center bottom;
}
.wrapper .container .history{
    display: flex;
    height: 0;
    width: 88.5%;
    position: absolute;
    top: 0;
    background: #fff;
    transition: all 0.3s ease 0s;
    box-shadow: inset 0 0 0 0.1em rgb(141, 141, 141);
    border-radius: 0.35em;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 9.9em;
}
.wrapper .container .history.active {
    display: flex;
    height: 62.2%;
}
.wrapper .container .history p{
    overflow: hidden;
    font-size: 1.2em;
    margin: 0.6em 0.5em;
    line-height: 1.3em;
}
.container input.clear_elem{
    background: url(../img/icon_backsp.jpg) center center no-repeat;
    background-position: center top;
    background-size: 100%;
}
.container input.clear_elem:active{
    background-position: center bottom;
    background-size: 100%;
}
.wrapper .container .first-row input.clear_log{
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    width: 6em;
}
.container input.clear_elem.active, input.clear_all.active, input.clear_log{
    display: none;
}
.container input.clear_log.active{
    display: block;
}


.container input.degree{
    background: url(../img/icon_xsty.jpg) center center no-repeat;
    background-position: center top;
    background-size: 100%;
}
.container input.degree:active{
    background-position: center bottom;
    background-size: 100%;
}



